body {
    margin: 0;
}

.main {
    height: 100vh;
}

.content {
    padding-top: 2rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.schema {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

@media only screen and (max-width: 1200px) {
    [class*="schema"] {
        width: 100%;
    }
}

.filters {
    display: flex;
    justify-content: end;
    align-items: end;

}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}

.searchField {
    margin-left: 1em;
}

.select-usertype {
    margin-left: 1em;
}

.select-applicationcategory {
    margin-left: 1em;
}

.spinner {
    display: flex;
    justify-content: center;
}

.paginationWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2em;
}

table {
    background-color: var(--beige-20);
}

.footer {
    background-color: var(--a-blue-50);
}

.WelcomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    margin-top: 5rem;
    background-color: #F2F3F5;
}

.delete-icon-button {
    color: var(--a-nav-red);
}

.delete-icon-button:hover {
    background-color: #ffcccc;
    color: var(--a-nav-red);
}

.button-outlined {
    color: var(--a-nav-red);
    box-shadow: inset 0 0 0 2px var(--ac-button-secondary-border, var(--ac-button-danger-bg, var(--a-surface-danger)));
}

.button-outlined:hover {
    color: var(--ac-button-danger-text, var(--a-text-on-danger));
    background-color: var(--ac-button-danger-hover-bg, var(--a-surface-danger-hover));
}

.SelectObjectType {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 0.4em;
}

.objectTypeLink {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.3em;
    /* padding-top: 0.3em;
     padding-bottom: 0.3em;*/
}

.objectTypeLink:hover {
    background-color: var(--blue-20);
}

.navds-radio-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.center-checkbox-in-table {
    margin: 0 auto;
}

.org-unit-checkbox > label {
    line-height: 1.5rem;
}

.list-item__space-between {
    display: flex;
    justify-content: space-between;
}

.list-item__space-between button {
    width: max-content;
}

/* Nav AKSEL customized styling */
.button-secondary-danger {
    color: var(--a-nav-red);
    box-shadow: inset 0 0 0 2px var(--ac-button-secondary-border, var(--ac-button-danger-bg, var(--a-surface-danger)));
}

.button-secondary-danger:hover {
    color: var(--ac-button-danger-text, var(--a-text-on-danger));
    background-color: var(--ac-button-danger-hover-bg, var(--a-surface-danger-hover));
}

.navds-tag-in-table {
    margin: var(--a-spacing-3) var(--a-spacing-5);
}

.button {
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.list-style-none {
    list-style: none;
    padding: 0;
}

.link-card {
    text-decoration: none;
    color: var(--a-text-default);
    transition: background 0.2s ease-in;
    background-color: white;

    p {
        color: var(--a-text-default);
    }

    hr {
        width: 100%;
        border: 0;
        height: 1px;
        background: var(--a-text-default);
    }

    .circle {
        transition: transform 0.2s ease-in-out;

        > * {
            transition: transform 0.2s ease-in-out;
        }
    }

    .arrow-icon {
        transition: transform 0.2s ease-in-out;
    }

    &.blue.hoverColor:hover {
        background-color: var(--blue-20);
    }
    &.orange.hoverColor:hover {
        background-color: var(--orange-20);
    }
    &.red.hoverColor:hover {
        background-color: var(--red-20);
    }
    &.beige.hoverColor:hover {
        background-color: var(--beige-80);
    }

    &:hover {
        h2 {
            text-decoration: none;
        }

        .circle {
            transform: scale(1.25);

            > * {
                transform: scale(0.8);
            }
        }

        .arrow-icon {
            transform: scale(1.5);
        }
    }

}

.breadcrumb-link {
    @apply text-indigo-600 underline hover:text-indigo-800;
}

.menu-button:hover {
    background-color: var(--orange-80);
}

/*.info-box {
    background-color: #feeae7;
    color: #570F31;
}*/

.info-box {
    background-color: var(--orange-20);
    color: var(--red-dark);
}

:root {
    --orange-dark: #A61D08;
    --orange-primary: #F76650;
    --orange-80: #FB9582;
    --orange-60: #FDC3B4;
    --orange-40: #FFE0D5;
    --orange-20: #feeae7;

    --red-dark: #570F31;
    --red-primary: #6B133D;
    --red-80: #8C3E62;
    --red-60: #AD697F;
    --red-40: #CF93A3;
    --red-20: #EBC1C9;

    --blue-dark: #5A51E1;
    --blue-primary: #7F78E8;
    --blue-80: #A19CF0;
    --blue-60: #C3BEF7;
    --blue-40: #CCC9F6;
    --blue-20: #E5E4FA;

    --beige-darker: #D4B89A;
    --beige-dark: #EFD8B8;
    --beige-primary: #F8ECDC;
    --beige-80: #FAF1E5;
    --beige-60: #FCF5ED;
    --beige-40: #FDF9F5;
    --beige-20: #FEFCFA;
}