.resource-info {
    list-style-type: none;
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    list-style-position: inside;
    background-color: white;
}

.resource-info > li {
    padding: 1em;
}

hr {
    border-top: 1px solid black;
    width: 30%;
}

.infoIconSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}
