.user-information-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    padding: 1rem;
}

.user-information-list > li {
    margin: 0.5em;
}

@media(min-width: 1220px) {
    .user-information-list {
        flex-direction: row;
    }
    .user-information-list > li {
        flex: 40%;
        min-width: 200px;
    }
}

.list-wrapper {
    margin-top: 3em;
    margin-left: 5rem;
}


hr {
    border-top: 1px solid black;
    width: 30%;
}

.info-icon-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-info {
    color: #570F31;
}

hr {
    border-top: 1px solid #F76650;
    width: 30%;
}



