.user-information-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1em;
}

.user-information-list > li {
    flex: 40%;
    min-width: 200px;
    margin: 0.5em;
}

.listWrapper {
    margin-top: 3em;
    margin-left: 5rem;
}

.infoIcon {
    border-radius: 50%;
    color: var(--a-surface-action);
    border: 2px solid #0067C5;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5em;
}

hr {
    border-top: 1px solid black;
    width: 30%;
}

.infoIconSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}



