[data-theme='novari'] {
    --a-bg-default: #fefcfa;
    --a-bg-subtle: #fcf5ed;

    --a-surface-action: var(--a-surface-alt-3-strong);
    --a-surface-action-hover: #5149ca;
    --a-surface-action-active: var(--a-surface-alt-3-strong);
    --a-surface-action-selected: var(--a-surface-alt-3-strong);
    --a-surface-action-subtle-hover: var(--a-surface-alt-3-subtle);
    --a-surface-action-selected-hover: #5149ca;
    --a-surface-default: var(--a-bg-default);
    --a-surface-hover: #e5e4fa;

    --a-text-action-selected: var(--a-surface-alt-3-strong);
    --a-text-on-action: #ffffff;
    --a-text-action: var(--a-surface-alt-3-strong);
    --a-text-action-hover: var(--a-surface-alt-3-strong);
    --a-text-action-on-action-subtle: var(--a-surface-alt-3-strong);

    --a-border-action: var(--a-surface-alt-3-strong);
    --a-border-action-hover: var(--a-surface-alt-3-strong);
    --a-border-action-selected: var(--a-surface-alt-3-strong);
    --a-border-focus: var(--a-surface-alt-3-strong);

    --a-surface-alt-3-strong: #5a51e1;
    --a-surface-alt-3-subtle: #e5e4fa;
    --a-surface-alt-3-moderate: #6b133d;

    .novari-header {
        background: #fcf5ed;
    }

    .novari-footer {
        background: #6b133d;
    }
}
