[data-theme='novari'] {
    --ax-surface-default: #fefcfa;
    --ax-surface-subtle: #fcf5ed;
    --ax-bg-strong: #5a51e1;
    --ax-bg-strong-hover: #5149ca;
    --ax-bg-moderate-hoverA: #e5e4fa;

    --ax-surface-action: #5a51e1;
    --ax-surface-action-hover: #5149ca;
    --ax-surface-action-active: #5a51e1;
    --ax-surface-action-selected: #5a51e1;
    --ax-bg-strong-pressed: #5149ca;
    --ax-bg-accent-strong-pressed: #5149ca;

    --ax-surface-action-subtle-hover: #fcf5ed;
    --ax-surface-action-selected-hover: #5149ca;
    --ax-surface-hover: #e5e4fa;

    --ax-text-on-action: #ffffff;
    --ax-border-focus: #5a51e1;

    --ax-border-selected: #5a51e1;
    --ax-border-selected-hover: #4c46c7;

    --ax-surface-selected: #e5e4fa;
    --ax-text-on-selected: #5a51e1;

    --ax-text-action: #5a51e1;
    --ax-text-action-hover: #5a51e1;
    --ax-text-action-selected: #5a51e1;
    --ax-text-subtle: #5a51e1;
    --ax-text-action-on-action-subtle: #5a51e1;

    --ax-border-default: #5a51e1;
    --ax-border-strong: #5a51e1;
    --ax-border-subtle: #e5e4fa;
    --ax-border-action: #5a51e1;
    --ax-border-action-hover: #5a51e1;
    --ax-border-action-selected: #5a51e1;

    --ax-surface-selected-hover: #e5e4fa;
    --ax-surface-subtle-hover: #e5e4fa;
    --ax-surface-alt-strong: #5a51e1;
    --ax-surface-alt-subtle: #e5e4fa;
    --ax-surface-alt-moderate: #6b133d;
}

[data-theme='novari'] .novari-header {
    background: #fcf5ed;
    margin-bottom: 1rem;
}

[data-theme='novari'] .novari-footer {
    background: #6b133d;
}
