.me-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;

    gap: 4px;
}

.kontroll {
    text-decoration: none;
    color: #6b133d;
}
.kontroll > * {
    font-size: x-large;
}
