name: run tests

on:
  push:
  workflow_dispatch:

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache node_modules
        uses: actions/cache@v4
        id: node_modules
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('package-lock.json') }}

      - uses: actions/setup-node@v4
        if: steps.node_modules.outputs.cache-hit != 'true'
        with:
          node-version: "22.x"
          cache: "npm"

      - name: Install dependencies
        run: npm ci --ignore-scripts
        if: steps.node_modules.outputs.cache-hit != 'true'

  cypress-run:
    needs: install
    runs-on: ubuntu-22.04
    env:
      CYPRESS_TESTS: true
      BASE_PATH: /fintlabs-no

    steps:
      - uses: actions/checkout@v4

      - name: Restore node_modules from cache
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('package-lock.json', 'package.json') }}

      - name: Install dependencies if cache missed
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          wait-on: 'http://localhost:3000/fintlabs-no'
          wait-on-timeout: 120
          browser: chrome

#name: run tests
#
#on:
#  push:
#  workflow_dispatch:
#
#jobs:
#  install:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#
#      - name: Cache node_modules
#        uses: actions/cache@v4
#        id: node_modules
#        with:
#          path: ./node_modules
#          key: modules-${{ hashFiles('package-lock.json', 'package.json') }}
#
#
#      - uses: actions/setup-node@v4
#        if: steps.node_modules.outputs.cache-hit != 'true'
#        with:
#          node-version: "22.x"
#          cache: "npm"
#
#
#      - run: npm ci --ignore-scripts
#        if: steps.node_modules.outputs.cache-hit != 'true'
#
#
#  cypress-run:
#    needs: install
#    runs-on: ubuntu-22.04
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#      - name: Cypress run
#        uses: cypress-io/github-action@v6
#        env:
#          CYPRESS_TESTS: true
#        with:
#          build: npm run build
#          start: npm start
#          browser: chrome
